<style>
    @import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Vollkorn:ital,wght@1,596&display=swap');
    </style>
  
  <main>
    <div class="tittle">
  
      <img class="nuvemakatsukititulo" src="./../assets/Anime-Logo-Transparent - Copia.png" alt="">
      <h1>Mundo anime</h1>
      <img class="nuvemakatsukititulo2" src="./../assets/Anime-Logo-Transparent.png" alt="">
  
    </div>
  
    <div class="container">
    
    <div class="cardlogin">
      
     <p class="textcardlogin"> aqui você encontra os melhores animes legendados</p><p class="text2cardlogin">entre facilmente clicando em login</p>
  
     <div class="descricaologin">
      
      <p class="loginfacebook"><img class="imgfacebooklogo" src="./../assets/facebook_logo_icon_169182.png" alt=""> Entre com o facebook </p><p class="logingoogle"> <img class="imggooglelogo" src="./../assets/Logo-Google-G.png" alt=""> Ou entre com o google</p>
  
     </div>
  
     <button class="btn" (click)="login()">login</button>
  
    </div>
  
    <div class="textlogo">
  
      <p class="textlogo2">dos mais classicos aos mais famosos</p>
    
      </div>
  
    <div class="logos">
  
      <img class="narutologo" src="./../assets/Anime-Logo-PNG-Photos.png" alt="">
      <img class="dragonlogo" src="./assets/Dragon-Ball-Logo-PNG-Clipart.png" alt="">
      <img class="bleachlogo" src="./../assets/Bleach-Logo-PNG-Images.png" alt="">
  
    </div>
  
  </div>
  
  </main>